<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <instabox>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Wexo\Instabox\Model\Carrier\Instabox</model>
                <name>Instabox</name>
                <title>Instabox</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.
                </specificerrmsg>
                <max_instahome_deliveries>0</max_instahome_deliveries>
            </instabox>
        </carriers>
    </default>
</config>
