<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_shipment_save_after">
        <observer name="instabox_create_booking_on_shipment"
                  instance="Wexo\Instabox\Observer\CreateBooking" />
    </event>
    <event name="sales_order_creditmemo_save_after">
        <observer name="instabox_create_return" instance="Wexo\Instabox\Observer\CreateReturn"/>
    </event>
</config>
